html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body
{
	background: linear-gradient(to left, #F9EBEA, #F2D7D5);
	font-family: monospace;
}

h1
{
	font-family: monospace;
	padding: 0.625em;
	margin-bottom: 0em;
	margin-top: 0em;
	color: white;;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	text-transform: full-size-kana;
	border-block: 1.25em;
	box-sizing: border-box;
	display: flex;

}

h2
{
	font-family: monospace;
	width: 15.625em;
	padding: 0.75em;
	margin-bottom: 1.25em;
	color: black; 
	border-radius:  2.5em;
	border-bottom: solid;
	position: relative;
	text-align: center;
	background: lightblue;
	align-items: center;
}

section {
	padding: 2em;
	width: auto;
	margin-left: 2em;
	margin-right: 2em;
	width: 60%;
	display: flex;

}

section.mainarea {
	border-radius: 1.25em;
	padding: 2em;
	width: auto;
	margin-left: -2em;
	margin-right: 0em;
	width: 80%;
	display: flex;
	margin-top: 0.5em;
    padding: 0em;
    margin-left: 4em;
    

}

section.Welcome {
	width: 90%;
	display: inline;
	margin: .40em;
	margin-top: 0;
	margin: 0em;
    margin-top: 0;
    margin-left: 0;
    font: monospace;
    text-align: justify-all;
}


hr {
	margin-top: 0em;
}

img{
	width: 5.5em;
	height: 5.1em;
}
span.resume {
	width: 4.6em;
	height: 4.8em;
	float: left;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-color: #35D2E5;
	margin-right: 2em;
	font-size: 1em;
	font-weight: bold;
}

span.resume-text {
	text-decoration: blink;
	vertical-align: -1.5em;
}
p.dailypuzzle {
	font-size: 1.5em;
	margin-left: 3em;
}
div.logo-container {

	position: fixed;
	margin-left: 50em;
    margin-top: 2em;

	
}
img.logo {
	border-radius: 10em 1em 9.45em 6.4375em / 10em 1em  15em .2em;
	width: 21em;
	height: 19em;
	position: absolute;
	background-attachment: fixed;
	scroll-behavior: fixed;
}

div.socialmedia {
	align-items: center;
	margin-left: 38%;
	margin-top: -4em;
}

p.welcome {
	font-size: 7em;
	margin: 0;
	text-align: left;
	margin-left: 1em;
	font-weight: bolder;
	text-transform: uppercase;
  	transform: scaleX(1.2);
  	color: #35D2E5;
}



div.hello {
	font-size: 1.5em;
}

div.welcome-text {
	margin-top: auto;
	text-align: justify-all;
	font-family: monospace;
	font-size: 2.25em;
	margin-top: -1em;
	width: 80%;


}
div.Projects {
	margin-top: -4.5em;
	width: 80%;
	margin-left: 2.7em;
	text-align: left;
	font-family: monospace;
	font-size: 1.5em;
	color: #5D5D5D;

}

iframe.chessboard {
	width: 400px;
	height: 560px;
}

a {
	text-decoration: none;
}

@keyframes float {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(-1.6em);
  }
  100% {
    transform: translateY(-1em);
  }
}

/

@Media (min-width: 20em) and (max-width: 23.4375em) {
	p.welcome {
	font-size: 4em;
	margin-left: .2em;

	}
	div.welcome-text {
		font-size: 1.6em;
		width: 14em;
	}
	section.mainarea {
		margin-left: 1em;

	}
	div.Projects {
		margin-left: -.5em;
		font-size: 1.2em;
		width: 20em;
	}
	img {
		width: 2em;
		height: 2.5em;
	}
	div.socialmedia {
		margin-left: -.5em;
	}
	span.resume {
		width: 2em;
		height: 2.3em;
		margin-right: 1em;	
	}
	span.resume-text {
		font-size: .5em;
	}
	p.dailypuzzle {
		margin-left: -2em;
		font-size: 1.2em;
	}
	iframe.chessboard {
		width: 200px; height: 280px;
	}
}
@Media (min-width: 23.4375em) and (max-width: 26.5625em) {
	div.hello{
		margin-left: -1.6em;
	}
	p.welcome {
	font-size: 5em;
	margin-left: -.2em;

	}
	div.welcome-text {
		font-size: 2em;
		width: 14em;
		margin-left: -1.2em;
	}
	section.mainarea {
		margin-left: 1em;

	}
	div.Projects {
		margin-left: -.8em;
		font-size: 1,5em;
		width: 20em;
	}
	img {
		width: 3em;
		height: 3.5em;

	}
	div.socialmedia {
		margin-left: -.5em;
	}
	span.resume {
		width: 3em;
		height: 3.3em;
		margin-right: 1em;	
	}
	span.resume-text {
		font-size: .5em;
	}
	p.dailypuzzle {
		margin-left: -2em;
		font-size: 1.2em;
	}
	iframe.chessboard {
		width: 250px; height: 280px;
	}
}
@Media (min-width: 23.4375em) {
	section.mainarea {
		margin-left: 3em;

	}
}

@Media (min-width: 26.5625em) {
	section.mainarea {
		margin-left: 3em;

	}
}
@Media (min-width: 48em) {
	section.mainarea {
		margin-left: 4em;

	}
}
@Media (min-width: 64em) {
	section.mainarea {
		margin-left: 6em;

	}
	div.logo-container {
		margin-left: 50em;
	}
}
@Media (min-width: 90em) {
	section.mainarea {
		margin-left: 6em;

	}
	div.logo-container {
		margin-left: 70em;
	}
}







