body
{
	margin: 0;
	padding: 0;
	background: linear-gradient(to left, #F9EBEA, #F2D7D5);
	font-family: monospace;
	font-weight: normal;
	font-size: 18px;
	direction: ltr;

}

h1
{
	font-family: monospace;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	color: black;;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 23px; 
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color:lightblue;
	border-block: 20px;
	border-bottom: solid black;
	box-sizing: border-box;
}

h2
{
	font-family: monospace;
	width: 250px;
	padding: 12px;
	margin-bottom: 20px;
	color: black; 
	border-radius: 40px;
	border-bottom: solid;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 21px; 
	text-align: center;
	background: lightblue;
}

section {
	border-radius: 20px;
	background-color: lightsalmon;
	border-bottom: solid;
	border-style: dashed;
	padding: 20px;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;

}

section.float {
	overflow: hidden;
	
}

div.inline {
  margin: 0 2em;
  padding: 0 1em;
  margin-left: 20px;
  width: 50%;
  background-color: peachpuff;
  border-bottom: solid;
  border-style: dashed;
  box-sizing: border-box;
  text-align: justify;
}

div.float2 {
float: left;
padding: 5px;
box-sizing: border-box;
width: 40%;
clear: left;
background-color: peachpuff;
border-bottom: solid;
border-style: dashed;
}

div.float3 {
	float: right;
	padding: 5px;
	box-sizing: border-box;
	width: 40%;
	background-color: peachpuff;
	border-bottom: solid;
	border-style: dashed;
}

div.pos1 {
	padding: 1em;
	box-sizing: border-box;
	width: 40%;
	background-color: peachpuff;
	border-bottom: solid;
	border-style: dashed;
	
}

div.pos1{
	position: relative;
	top: 10px;
	left: 250px;
}

div.pos2 {
	padding: 1em;
	box-sizing: border-box;
	width: 40%;
	background-color: peachpuff;
	border-bottom: solid;
	border-style: dashed;
}

div.example {

	padding: 1em;
	box-sizing: border-box;
	width: 40%;
	background-color: peachpuff;
	border-bottom: solid;
	border-style: dashed;
}

div.pos2 {
	
	position: absolute;

}

b {
	color: black;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px 4px;
}

p
{
	text-align: left;
}

ol
{
 	box-sizing: border-box;
 	text-align: left;

}
ul
{
 	box-sizing: border-box;
 	text-align: left;
}

span {
			border-radius: 40px;
			padding: 8px;
			border-bottom: solid;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			font-size: 15px; 
			text-align: center;
			background: lightsalmon;
	}

	#conflict span
 	{		
			padding: 8px;
			border-bottom: solid;
			position: relative;
			margin-left: 20px;
			margin-right: auto; 
			text-align: left;
			width: 40%;
			border-radius: 0;
	}

	h3 {
			padding: 8px;
			border-bottom: solid;
			position: relative;
			margin-left: 20px;
			margin-right: auto; 
			text-align: left;
			width: 40%;
	}

img 
{ 

 	height: 13em;
 	width: 18em;
 	image-resolution: from-image;
 	border-radius:20px;

}

img.gifguy
{
	width: 300px;
	height: 250px;
	filter: contrast(200%);
	margin-bottom: 50px;
	filter: blur(5px);
}

.image-container 
{
  position: relative;
  display: inline-block;
  width: 100%;

}

.image-text 
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  font-size: 14px;
  text-align: justify;
  width: 170px;
  opacity: 0%;
  background-color: ghostwhite opacity: 0.4;
  border-radius: 20;
  border-bottom: dotted;
  padding: 5px;
  box-sizing: border-box;

}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes blur {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}



@keyframes fade-in {
0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


img.gifguy
{
  filter: blur(0px); /* start with no blur */
  transition: filter 1s ease-in-out; /* animate the filter property */ 
  
} 

/*img.gifguy:hover{

  animation-name: zoom-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}*/ 


div.image-container:hover > .image 
{
  animation-name: blur;
  animation-duration: infinite;
  animation-fill-mode: forwards;
}


div.image-container:hover > .image-text
{
  opacity: 100%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

section img
{
  border: 1px solid
   #A2D9CE;
  border-radius: 1px;
  animation: border-animation 2s infinite;
}

@keyframes border-animation {
  0% {
    border-color: #A2D9CE;
  }
  50% {
    border-color: #45B39D;
  }
  100% {
    border-color: #A2D9CE;
  }
}


/*conflict img {
					width: 200px;
					height: 150px;
				}
	.boxmodel img {
					width: 200px;
					height: 250px;
				}
	*/
a:link, a:visited {
	background-color: none;
	color: black;
	display: ruby-base;
	width: 250px;
	margin-bottom: 2px;

}
a:hover, a:active {
	background-color: grey;
	color: black;
}


.slideshow-container{
	position: relative;
	background: none;

}
.mySlides{
	display: none;
	padding: 80 px;
	text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: skyblue;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    background: #lightblue;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 1px;
  background-color: #palegoldenrod;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
   animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

