h1{
	font-family: monospace;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	color: black;;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 23px; 
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color:skyblue;
	border-block: 20px;
	border-bottom: solid black;
}

h2{
	font-family: monospace;
	width: 250px;
	padding: 12px;
	margin-bottom: 20px;
	color: black; 
	border-radius: 40px;
	border-bottom: solid;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px; 
	text-align: center;
	background: lightblue;
}

body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: monospace;
}
section {
	border-radius: 20px;
	background-color: lightsalmon;
	border-bottom: solid;
	border-style: dashed;
	padding: 20px;
}

p
{
	text-align: left;
}

ol
{
 	box-sizing: border-box;
 	text-align: left;

}
ul
{
 	box-sizing: border-box;
 	text-align: left;
}

span {
			border-radius: 40px;
			padding: 8px;
			border-bottom: solid;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			font-size: 15px; 
			text-align: center;
			background: lightsalmon;
	}

	#conflict span
 	{		
			border-radius: 40px;
			padding: 8px;
			border-bottom: solid;
			position: relative;
			margin-left: auto;
			margin-right: auto; 
			text-align: center;
			background: lightgreen
	}

img 
{ 

 	height: 13em;
 	width: 18em;
 	image-resolution: from-image;
 	border-radius:20px;


}

img.gifguy{
	width: 300px;
	height: 250px;
	filter: contrast(200%);
	margin-bottom: 50px;
}

div.slideshow-container{
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}

img.gifguy {
  filter: blur(5px); /* start with no blur */
  transition: filter 1s ease-in-out; /* animate the filter property */ 
  
}


img.gifguy:hover{

  animation-name: zoom-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}

img.gifguy:hover{

  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

section img
 {
  border: 1px solid
   #A2D9CE;
  border-radius: 1px;
  animation: border-animation 2s infinite;
}

@keyframes border-animation {
  0% {
    border-color: #A2D9CE;
  }
  50% {
    border-color: #45B39D;
  }
  100% {
    border-color: #A2D9CE;
  }
}


/*conflict img {
					width: 200px;
					height: 150px;
				}
	.boxmodel img {
					width: 200px;
					height: 250px;
				}
	*/
a:link, a:visited {
	background-color: none;
	color: black;
	display: ruby-base;
	width: 250px;
	margin-bottom: 2px;

}
a:hover, a:active {
	background-color: grey;
	color: black;
}


.slideshow-container{
	position: relative;
	background: none;

}
.mySlides{
	display: none;
	padding: 80 px;
	text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: skyblue;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    background: #lightblue;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #palegoldenrod;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
   animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

