html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

body
{
	background: linear-gradient(to left, #F9EBEA, #F2D7D5);
	font-family: monospace;
	background-image: url("http://creativity103.com/collections/Paper/rough_paper.jpg");
}

body > div {overflow-x: hidden;}

h1 {
    font-family: 'Bungee Shade';
    font-size: 3em;
    text-align: center;
   font-weight: bold;
   margin-top: 1em;
}