html,body
{

    
}

body
{
	
	background: linear-gradient(to right, #35D2E5, #1e65bd) ;
}

#header-nav {
    background-color: #FFDE00;
    height: 6.5em;
    border-radius: 0;
}

h1 {
    font-family: 'Mouse Memoirs';
    font-size: 2em;
    font-weight: bolder;
    color: #000000;

}

h2 {
     font-family: 'Mouse Memoirs';
    font-size: 1.5em;
    font-weight: bolder;
    color: #000000;
}

#logo-img {
    background: url("https://github.com/gavintendekai/gavintendekai.github.io/blob/main/Images/profile.png?raw=true") center;
    background-repeat:;
    background-size: 5em;
    border-radius: 50%;
    border: .08em solid hsl(0, 0%, 40%);
    border-color: black;
    width: 5em;
    height: 5em;
    margin: 0.125em 1.15em 0.125em 0;
    margin-left: -3em;


}
div.navbar-header {
    width: 100%;
}
#navbutton {
    position: relative;
    margin-top: -6em;
}
.navbar-brand {
    padding-top: .4em;
    text-shadow: .0225em .0225em .0225em #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
a {
    color: transparent;
    text-decoration: none;
}

.navbar-brand p { /* Lessons on webdesign */
    font-size: 1em;
    font-family: 'Mouse Memoirs';
    font-weight: 70;
}
#navbutton, #navbuttontoggler { 
width: 4em;
height: 5em; 
 }

 /*#drop {
    margin-top: -5.5em;
    margin-right: 1.5em;
 }*/


 #dropButton, .dropdown-item {
    background-color: #FFE013;
    color: black;
    font-family: 'Mouse Memoirs';

 }
#dropdown-item {
    background-colour:  #FFE013;

 }
 .dropdown-item {
    width: 51%;
    border: .009em solid;
 }
 #menu {
    background-color: transparent;
    border-color: transparent;
 }




#list {
    margin-left: 10em;
}

.list-item {c
    background-colour:  #FFE013;
    color: black;
    font-family: "Mouse Memoirs";
    font-size: 1.5em;
    margin-left: .4em;
    

 }

.jumbotron {


}
 #jumboimg {

    height: 24em;
    border-radius: 8%;
    margin-top: .5em;
 }

 #ballons {
    position: absolute;
    margin-top: -3.7em;
    width: 5em;
    margin-left: -6em;
 }
 #img-text {
    position: absolute;
    margin-left: -19em;
    margin-top: 5.5em;
    font-family: "Mouse Memoirs";
    font-size: 1.9em;
    color: white;

 }

#home-tiles span {
    color: black;
    font-family: "Mouse Memoirs";
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}


#codingtile, #clientile, #planningtile, #frammingtile{
        background-color: #FFDE00;
        width: 110%;
        margin-top: 0.5em;
    }
#codingtile:hover, #clientile:hover, #planningtile:hover, #frammingtile:hover{
        box-shadow: 0 3px 8px 3px #393939;
        animation: flow 2s ease-in-out infinite;
        
    }

#web, #Inspirations, #icons {
    line-height: 2;
}


@keyframes flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


#bootstrap, #zen, #awww,  #css-tricks {
    width: 1.5em;
   
}


#bootstrap:hover, #zen:hover, #awww:hover, #css-tricks:hover {

    animation: flow 2s ease-in-out;
}


.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #F0B800;
    font-family: 'Mouse Memoirs';
    font-size: 1.2em;
}
@media (min-width: 48em) {
    #drop {

        margin-left: 16em;

    }
    #logo-img {
        margin-left: .1em;
    }
    
}

@media (min-width: 768px) and (max-width: 1200px)
{
    .col-xl-4 {
    flex: 0 0 auto;
    width: 24.333333%
}

#img-text {
    margin-left: -19em;
}


}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 400px) { 
    #img-text {
    margin-left: -9em;


 }

 h1 {
    font-size: 1.5em;
 }

 .navbar-brand p {
    font-size: .8em;

}

#codingtile, #clientile, #planningtile, #frammingtile {
    width: 95%;
}
}

@media (min-width: 425px) { 
    #img-text {
    margin-left: -10em;

 }
 #codingtile, #clientile, #planningtile, #frammingtile {
    width: 100%;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

#img-text {
    margin-left: -15em;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
#img-text {
    margin-left: -19em;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

#img-text {
    margin-left: -25em;

}
 #codingtile, #clientile, #planningtile, #frammingtile {
    width: 100%;
}
 .col-xl-4 {
    flex: 0 0 auto;
    width: 24.333333%}
}
